.grid-container{
    
    display: grid;
    background-color: brown;
    border: 5px solid red;
    grid-template-areas: 'header header header header header'
    'menu main main aside aside'
    'menu footer footer footer footer';

}

.grid-container > *{
    background-color: aquamarine;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
 
.header{
    grid-area: header;
}
.menu{
    grid-area: menu;
}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}
.footer{
    grid-area: footer;
}

